﻿<!DOCTYPE html>
<html>
<head>
  @inject SignInManager<ApplicationUser> SignInManager
  @inject UserManager<ApplicationUser> currentUser
  @*
    @model ApplicationUser<UserManager>  *@
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Connor McCormick, Tian Dippenaar, Curtis Pritchard" />

  <!-- icon in the highest resolution we need it for -->
  <link rel="icon" sizes="192x192" href="images/logo.png">
  <link rel="apple-touch-icon" href="images/logo.png">
  <meta name="theme-color" content="#DD1122">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>@ViewData["Title"] - Student Council</title>

  @* Styles *@
  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" />
  </environment>

  @* Scripts *@
  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dff88lf5agdz8zz744y3zq016j3ks91qfzhjv0a73gnyi9is"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1">
    </script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dff88lf5agdz8zz744y3zq016j3ks91qfzhjv0a73gnyi9is"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</head>
<body onload="onLoad();">
  <div id="container">

    <!-- Navigation Area -->

    <div id="navBar" class="d-lg-none">
      <div id="navBarBurger" class="col-2" data-toggle="collapse" data-target="#navSide">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <h1 class="col-md-8 col-sm-8 col-8">MIT Student Council</h1>
      <a id="navBarLogo" class="col-2" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/MIT_NoText.svg" />
      </a>
    </div>
    <div id="navSide" class="col-lg-2 col-md-4 col-sm-7 col-7 collapse show">
      <div id="navSideContent">
        <a id="sideBarLogo" class="d-none d-lg-inline" asp-area="" asp-controller="Home" asp-action="Index">
          <img src="~/images/MIT.svg" />
        </a>
        <h1 class="d-none d-lg-block">Student Council</h1><br />

        @* Navigation Options Here *@
        <ul>
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="About">About <i class="fa fa-users" aria-hidden="true"></i></a></li>
          <li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog <i class="fa fa-comments" aria-hidden="true"></i></a></li>
          @await Component.InvokeAsync("CategoryMenu")
          @*Shopping Cart*@
          @await Component.InvokeAsync("ShoppingCartSummary")
          <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
        <br />
        <div class="navSideFoot ">
          @await Html.PartialAsync("_LoginPartial")
        </div>
        @* End Navigation Options*@
      </div>
    </div>

    <!-- End Navigation -->

    <div id="mainBody" class="col-lg-10 col-12 pull-right container">
      @RenderBody()
      <hr />
      <footer class="col-12">
        <p>&copy; 2017 - Manukau Institute of Technology Student Council</p>
      </footer>
    </div>
  </div>





  <div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Your Subscription has Expired!</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            Would you like to renew your subscription?
            If you would select OK, otherwise, select NO
          </div>
        </div>
        <div class="modal-footer">
          <a asp-action="Index" asp-controller="SubscriptionObjects" class="btn btn-success">OK</a>
          <a class="btn btn-secondary" data-dismiss="modal">NO</a>
        </div>
      </div>
    </div>
  </div>
  

</body>
</html>

