@using Microsoft.AspNetCore.Identity
@using StudentCouncil.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
          Hello, @UserManager.GetUserAsync(User).Result.Google_givenName!
        </a>
    }
    else
    {
        <span class="userGreet">
          Hello, @UserManager.GetUserAsync(User).Result.Google_givenName!
        </span>
    }
}
<div class="navSocialMedia row">
  <div class="col-4"><a href="http://www.manukau.ac.nz/"><i class="fa fw fa-graduation-cap" aria-hidden="true"></i></a></div>
  <div class="col-4"><a href="https://www.facebook.com/SCOMITNZ/"><i class="fa fw fa-facebook-square" aria-hidden="true"></i></a></div>
  <div class="col-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="loginoutForm">
          <button type="submit" class="fa fw fa-sign-out"></button>
        </form>
    }
    else
    {
        <form asp-area="" asp-controller="Account" asp-action="Login" method="get" id="loginoutForm">
          <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
          <button type="submit" class="fa fw fa-sign-in"></button>
        </form>
    }

  </div>
</div>
