﻿@model Product

<div class="col-12 col-sm-6 col-md-4 productSummaryContainer">
  <div class="productSummary">
    <div class="row caption">
      <h3 class="col-7 ">
        <a>
          @Model.Name
        </a>
      </h3>
      <div class="col-5 pull-right text-right">
        <h3 style="font-size: 1.25rem;">
          @Model.Price.ToString("c")
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">@Html.Raw(Model.Description)</div>
      <div class="col-12 col-lg-5 text-center">
        <img src="~/images/Products/@(Model.ID).png" alt="" />
      </div>
    </div>
    <div class="addToCart text-right">
        <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-ID="@Model.ID">Add to Cart</a>
    </div>
  </div>
</div>