﻿@using StudentCouncil.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav nav-pills flex-column nav-fill">
  <li class="nav-item @ManageNavPages.IndexNavClass(ViewContext)"><a class="nav-link" asp-action="Index">Profile</a></li>
   @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
    <li class="nav-item @ManageNavPages.PageNavClass(ViewContext, "ManageUsers")"><a class="nav-link" asp-action="ManageUsers">User Manager</a></li>
    }
</ul>

