﻿@model StudentCouncil.Models.ManageViewModels.EditUserRolesViewModel

@{
    ViewData["Title"] = "EditUserRoles";
}

<h2>EditUserRoles</h2>

<h4>EditUserRolesViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUserRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEditor" /> @Html.DisplayNameFor(model => model.IsEditor)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSCMember" /> @Html.DisplayNameFor(model => model.IsSCMember)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

