﻿@model IndexViewModel

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Google_displayName"></label>
                <input asp-for="Google_displayName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Google_givenName"></label>
                <input asp-for="Google_givenName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Google_ImageURL"></label>
                <img class="form-control" src="@Model.Google_ImageURL" alt="@Html.DisplayNameFor(model => model.Google_ImageURL)" />
            </div>

    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin") || await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
        <div class="form-group">
            <label>Roles: </label>
            <input asp-for="SelRoles" class="form-control" disabled />
        </div>
    }

            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}