﻿@model List<ApplicationUser>

@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "ManageUsers";
    ViewData.AddActivePage("ManageUsers");
}

<h2>Manage Users</h2>
<form id="searchForm" action="" method="post">
    <input type="submit" id="SearchButton" value="Search" />
    <input type="search" placeholder="Find Student" id="userQuery" name="searchUsers" />
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Avatar</th>
        <th>Email</th>
        <th>Is Admin</th>
        <th>Is Editor</th>
        <th>Is SC Member</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Google_displayName</td>
            <td><img src="@Url.Content(user.Google_ImageURL)"/></td>
            <td>@user.Email</td>
            <td>@await userManager.IsInRoleAsync(user, "Admin")</td>
            <td>@await userManager.IsInRoleAsync(user, "Editor")</td>
            <td>@await userManager.IsInRoleAsync(user, "Student_Council_Member")</td>
            <td><a asp-action="EditUserRoles" asp-route-id="@user.Id">Edit Roles</a></td>
        </tr>
    }
</table>
<script>
  $('#userQuery').autocomplete({
    source: '/Manage/FindUsers', minLength: 2, select: function (event, ui) {
      event.target.value = ui["item"].value;
      event.target.form.submit();
    }
  });
</script>