﻿@model  ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}


<div id="col1" class="col-12">
  <div class="col-lg-10 row checkoutForm">
    <h2>Your shopping cart</h2>
      <br />
    <h4>Here are the Products in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Selected amount</th>
          <th>Product</th>
          <th class="text-right">Price</th>
          <th class="text-right">Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
            <tr>
              <td class="text-center col-lg-3">@line.Amount</td>
              <td class="text-left">@line.Product.Name</td>
              <td class="text-right">@line.Product.Price.ToString("c")</td>
              <td class="text-right">
                @((line.Amount * line.Product.Price).ToString("c"))
              </td>
              <td class="text-center"><a class="fa fa-times text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-ID="@line.Product.ID"></a></td>
            </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-right">Total:</td>
          <td class="text-right">
            @Model.ShoppingCartTotal.ToString("c")
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="text-right">
      <div class="row">
        @*<a class="btn btn-success" asp-controller="Order" asp-action="Charge">Check out</a>*@

        @using Microsoft.Extensions.Options
        @inject IOptions<StripeSettings> Stripe

        <form action="/Payments/Charge" method="POST">

          <script src="//checkout.stripe.com/v2/checkout.js"
                  class="stripe-button"
                  data-key="@Stripe.Value.PublishableKey"
                  data-locale="auto"
                  data-description="Fill in the Fields to complete payment."
                  data-amount=@Model.ShoppingCartTotal.ToString("c")
                  data-currency="nzd"
                  data-shippingAddress="true"
                  data-email="@User.Identity.Name">

          </script>


          <div class="btn-group">
            <button type="submit" class="btn btn-primary" style="visibility: visible;">Pay with Card</button>
            <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
              Add more Products <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="Apparel">Apparel</a>
            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="Accessories">Accessories</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="">View All Products</a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>