﻿@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a asp-controller="ShoppingCart">
            <span class="fa-shopping-cart fa"></span> 
            <span id="cart-status">@Model.ShoppingCart.ShoppingCartItems.Count</span>
        </a>
    </li>
}