﻿@model StudentCouncil.Models.BlogPost
@{
    ViewData["Title"] = "Create";
}

<div id="col1" class="col-12">
  <h2>Create</h2>
  <h4>Blog Post</h4>
  <hr />

  <div class="row">
    <div class="blogPostContainer col-lg-6 col-md-12 col-sm-6 col-xs-12">
      <form class="blogPost col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-action="Create" method="post" enctype="multipart/form-data">
        <h2>Create Post</h2>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Image" class="control-label"></label>
          <input onchange="onChange(this);" id="Edit-Image" asp-for="Image" class="form-control" required accept="image/png" />
          <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Title" class="control-label"></label>
          <input onchange="onChange(this);" id="Edit-Title" asp-for="Title" placeholder="Post Title" class="form-control" required />
          <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="AuthorID" class="control-label"></label>
          <select onchange="onChange(this);" id="Edit-Author" asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID" required></select>
        </div>
        <div class="form-group">
          <label asp-for="PostDateTime" class="control-label"></label>
          <input onchange="onChange(this);" id="Edit-PostDateTime" asp-for="PostDateTime" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:00").Replace(' ','T')" required />
          <span asp-validation-for="PostDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Content" class="control-label"></label>
          <textarea id="Edit-Content" asp-for="Content" class="form-control"></textarea>
          <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input onchange="onChange(this);" id="Edit-Hidden" asp-for="Hidden" /> @Html.DisplayNameFor(model => model.Hidden)
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <input type="submit" value="Create" class="btn btn-default alert-success d-block mx-auto" />
          </div>
          <div class="col-4 ml-auto">
            <input type="button" value="Cancel" class="btn btn-default alert-warning d-block mx-auto" onclick="location.href='@Url.Action("Index", "Blog")'" />
          </div>
        </div>
      </form>
    </div>
    <div class="blogPostContainer col-lg-6 col-md-12 col-sm-6 col-xs-12">
      <div id="blogPost-Preview" class="blogPost col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Preview</h2>
        <img id="Edit-Image-Preview" src="~/images/Blog/sample.png" alt="" />
        <h3><b id="Edit-Title-Preview"></b></h3>
        <h4>by <span id="Edit-Author-Preview"></span> </h4>
        <h5 id="Edit-PostDateTime-Preview"></h5>
        <br />
        <div class="blogContent" id="Edit-Content-Preview"></div>
      </div>
    </div>
  </div>
</div>