﻿@model StudentCouncil.Models.BlogPost
@{
    ViewData["Title"] = "Delete";
}
<div id="col1" class="col-12">
  <h2>Delete</h2>
  <h3>Are you sure you want to delete this?</h3>
  <div>
    <div class="blogPostContainer col-xl-8 col-lg-12 col-md-8 col-sm-12 col-xs-12">
      <div class="blogPost@(Model.Hidden?" hiddenPost":null)@(Model.PostDateTime>DateTime.Now?" scheduledPost":null)">
        <img src="~/images/Blog/@(Model.ID).png" alt="@Model.Title" />
        <h3>
          <b>
            @Html.DisplayFor(model => model.Title)
          </b>
        </h3>
        <h4>
          by @Html.DisplayFor(model => model.Author.Google_displayName)
        </h4>
        <h5>
          @Html.DisplayFor(model => model.PostDateTime)
        </h5>
        <br />
        <div class="blogContent overflowPost">
          @Html.Raw(Model.Content)
        </div>
        <form asp-action="Delete">
          <input type="hidden" asp-for="ID" />
          <input type="submit" value="Delete" class="btn btn-default alert-danger" />
          <input type="button" value="Cancel" class="btn btn-default alert-info pull-right" onclick="location.href='@Url.Action("Index", "Blog")'" />
        </form>
        <br />
      </div>
    </div>
  </div>
</div>