﻿@model StudentCouncil.Models.BlogPost
@{
    ViewData["Title"] = "Details";
}
<div id="col1" class="col-12">
  <div class="blogPostContainer col-xl-8 col-lg-12 col-md-8 col-sm-12 col-xs-12">
    <div class="blogPost@(Model.Hidden?" hiddenPost":null)@(Model.PostDateTime>DateTime.Now?" scheduledPost":null)">
      <img src="~/images/Blog/@(Model.ID).png" alt="@Model.Title" />
      <h3>
        <b>
          @Html.DisplayFor(model => model.Title)
        </b>
      </h3>
      <h4>
        by @Html.DisplayFor(model => model.Author.Google_displayName)
      </h4>
      <h5>
        @Model.PostDateTime.ToLongDateString()
      </h5>
      <br />
      <div class="blogContent">
        @Html.Raw(Model.Content)
      </div>
      <div class="form-group row">
        <div class="col-6">
          <button @((ViewData["PrevID"] == null) ? "disabled " : "") class="btn btn-default prevButton d-block mx-auto" onclick="location.href='@Url.Action("Details", "Blog", new { ID = ViewData["PrevID"] })'">Prev Post</button>
        </div>
        <div class="col-6">
          <button @((ViewData["NextID"] == null) ? "disabled " : "") class="btn btn-default nextButton d-block mx-auto" onclick="location.href='@Url.Action("Details", "Blog", new { ID = ViewData["NextID"] })'">Next Post</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    @if (User.IsInRole("Editor"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> Html.Raw("|");
    }
    <a asp-action="Index">Back to List</a>
  </div>
</div>