﻿@model IEnumerable<StudentCouncil.Models.BlogPost>
@{
    ViewData["Title"] = "Blog";
}
<div id="col1" class="col-12">
  <h2>Student Council Blog</h2>
  <h4>Views and opinions are of the MIT Student Council and the Current Members</h4>
  @if (User.IsInRole("Editor"))
  {
      <h4><a asp-action="Create">Create New</a></h4>
      <br />
  }
  <br />
  @foreach (var Post in Model)
  {
      <div id="Post-@Post.ID" class="blogPostContainer col-xl-8 col-lg-12 col-md-8 col-sm-12 col-xs-12">
        <div class="blogPost col-12@(Post.Hidden?" hiddenPost":null)@(Post.PostDateTime>DateTime.Now?" scheduledPost":null)">
          <img src="~/images/Blog/@(Post.ID).png" alt="@Post.Title" />
          <h3>
            <a asp-action="Details" asp-route-id="@Post.ID">
              <b>
                @Post.Title
              </b>
            </a>
          </h3>

          <h4>
            by @Post.Author.Google_displayName
          </h4>
          <h5>
            @Post.PostDateTime.ToLongDateString()
          </h5>
          <br />
          <div class="blogContent overflowPost">
            @Html.Raw(Post.Content)
          </div>
          <div class="blogPostFoot@(Post.Hidden?" hiddenPost":null)@(Post.PostDateTime>DateTime.Now?" scheduledPost":null)">
            @if (User.IsInRole("Editor"))
            {
                <h3><a asp-action="Edit" asp-route-id="@Post.ID">Edit</a></h3>
            }
            <h3><a asp-action="Details" asp-route-id="@Post.ID">View More</a></h3>
          </div>
        </div>
      </div>
  }
  <ul class="pagination  justify-content-center">
    <li class="page-item@((bool)ViewData["PrevPage"]?"":" disabled")">
      <a class="page-link" href="?page=@((int)ViewData["page"]-1)" aria-label="Previous">
        <span aria-hidden="true">&laquo; Prev</span>
      </a>
    </li>
    @for (int i = 1; i <= (int)ViewData["NumPages"]; i++)
    {
        <li class="page-item@((int)ViewData["Page"]==i?" active":"")"><a class="page-link" href="?page=@i">@i</a></li>
    }
    <li class="page-item@((bool)ViewData["NextPage"]?"":" disabled")">
      <a class="page-link" href="?page=@((int)ViewData["page"]+1)" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</div>