﻿@{
    ViewData["Title"] = "About";
}
<div id="col1" class="col-12">
  <h1>The MIT Student Council - About Us</h1>
  <h2>Our Goals</h2>
  <p>
    Ensure that students are well represented and supported across the wider Manukau Institute of Technology. We aim to support the delivery of:
  </p><ul>
    <li>Encourage world-class learning and teaching practices.</li>
    <li>Promote outstanding student experiences and learning environments.</li>
    <li>Develop adequate levels of student support.</li>
    <li>Ensure there are no unfair barriers to education.</li>
    <li>Promote equitable access and support for achievement.</li>
    <li>Ensure students are valued members of an academic community that contributes to the creation and dissemination of knowledge.</li>
  </ul>
  <p></p>
  <h2>Our Values &amp; Priorities</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <h3>
        Develop leaders
      </h3>

      Foster strong relationships within student bodies (Student Council and Student Executive
      Voice); coaching and developing members to create influential and effective leadership
      amongst the student population
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <h3>
        Deliver the message
      </h3>

      Ensure effective representation is maintained with the highest level of professionalism
      and communication. Be transparent; communicate the student voice directly to the
      institute and back again. Turn up to all meetings and being an active participant.
      Developing tools to measure feedback channels to ensure needs are being met
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <h3>
        Be the change
      </h3>

      Valuing diversity and fostering a more positive and motivated culture within the student
      population through effective student engagement. Create a strong sense of identity and
      relatedness, where students are proud to be part of Manukau Institute of Technology
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <h3>
        Bridge the gap
      </h3>

      Establish effective working relationships with institute staff members; working
      collaboratively to help MIT achieve their strategic goals. Act in the Interest of All Manukau
      Institute of Technology Students, with focus on Priority groups providing students the
      opportunities to engage about decisions effecting them
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <h3>
        Be Kind, Be Real, Be There
      </h3>

      Know your students and know their struggle. Be genuine and support them through their
      learning experience and life in general. Offer them the right support, guide them to the
      right places and do everything you can to help them succeed
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <h3>
        Own it
      </h3>

      Take ownership of issues, follow up and deliver

      <h3>
        Build it
      </h3>

      Build sustainable models focusing on social, economic, environmental and personal change
    </div>
  </div>
</div>