﻿@model StudentCouncil.Models.HomeViewModels.IndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}
<div id="col1" class="col-12">
  <h1>Manukau Institute of Technology Student Council</h1>
  <h2>Recent Updates</h2>
  @if (SignInManager.IsSignedIn(User) && Model.showSubscriptionModal)
  {
      <script>
        window.addEventListener("load", function () {
          $('#modal-container').modal('show');
        })
      </script>
  }
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
      @foreach (BlogPost Post in Model.Posts)
      {
          <li data-target="#myCarousel" data-slide-to="@Model.Posts.IndexOf(Post)" @(Model.Posts.IndexOf(Post).Equals(0) ? "class=active" : "")></li>
      }
    </ol>
    <div class="carousel-inner" role="listbox">
      @foreach (BlogPost Post in Model.Posts)
      {
          <div class="carousel-item@(Model.Posts.IndexOf(Post).Equals(0) ? " active" : "")">
            <span class="vertAlignHelper"></span>
            <img src="~/images/Blog/@(Post.ID).png" alt="ASP.NET" class="img-fluid carouselImgBack" />
            <img src="~/images/Blog/@(Post.ID).png" alt="ASP.NET" class="img-fluid" />
            <div class="carousel-caption">
              <h3><a asp-controller="Blog" asp-action="Details" asp-route-id="@Post.ID">@Post.Title</a></h3>
              <h4>By @Post.Author.Google_displayName</h4>
              <h5>@Post.PostDateTime.ToLongDateString()</h5>
            </div>
          </div>
      }
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Our Goals</h2>
      <p>
        Ensure that students are well represented and supported across the wider Manukau Institute of Technology. We aim to support the delivery of:
      </p>
      <ul>
        <li>Encourage world-class learning and teaching practices.</li>
        <li>Promote outstanding student experiences and learning environments.</li>
        <li>Develop adequate levels of student support.</li>
        <li>Ensure there are no unfair barriers to education.</li>
        <li>Promote equitable access and support for achievement.</li>
        <li>Ensure students are valued members of an academic community that contributes to the creation and dissemination of knowledge.</li>
      </ul>
    </div>
  </div>
  <h2>Featured Products</h2>
  <div class="row">
    @foreach (Product product in Model.Products)
    {
        @Html.Partial("_ProductSummary", product);
    }
  </div>
</div>