﻿/*** BootStrap Overrides ***/


/* Better Padding */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-pills > .active > a {
    background-color: #dd1122;
    color: white;
}

a.nav-link {
    box-shadow: #333333 1px 1px 2px 1px;
    margin: 4px;
}

img.form-control {
    width: auto;
    height: auto;
    padding: 0;
}

/*** Custom CSS ***/
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333333;
}

#container {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0.5rem;
}

h2 {
    color: #DD1122;
    font-weight: 600;
}

h3 {
    color: #FF6A13;
    font-weight: 600;
}

    h3 > a, h3 > a:hover {
        color: inherit;
    }

#navBar {
    background-color: #DD1122;
    width: 100%;
    z-index: 30;
    position: fixed;
    box-shadow: black 0 0 10px 1px;
    color: #FFFFFF;
    align-items: center;
    top: 0;
    transition: all linear 0.5s;
}



    #navBar h1, #navBarBurger i, #navBarLogo img {
        text-align: center;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 5vw;
    }

#navBarBurger {
    text-align: center;
    cursor: pointer;
    line-height: 0;
}

#navBarLogo img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navBarLogo, #navBarBurger {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#navBarAnchor {
    position: relative;
    box-shadow: none;
    background-color: #efd900;
}

#SideBarAnchor {
    padding: 10px;
    width: 30%;
}

#navSide {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    transition: width 0.35s ease, max-height 0.35s ease;
    overflow-y: auto;
    position: fixed;
    box-shadow: black 0 2px 20px 2px;
    text-shadow: 1px -1px 1px #808080;
    background-color: #DD1122;
    color: #FFFFFF;
    text-align: right;
    font-size: 1.5em;
    z-index: 20;
}

    #navSide #navSideContent {
        display: table;
        height: 99%;
        width: 100%;
        table-layout: fixed;
    }

        #navSide #navSideContent .navSideFoot {
            display: inline-block;
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
            padding-bottom: 10px;
        }

            #navSide #navSideContent .navSideFoot a {
                display: block;
                text-align: left;
            }

            #navSide #navSideContent .navSideFoot span.userGreet {
                display: block;
                text-align: left;
                padding-left: 15px;
                padding-right: 15px;
            }

            #navSide #navSideContent .navSideFoot #loginoutForm button {
                padding: 0;
                border: 0;
                background: none;
            }

        #navSide #navSideContent .navSocialMedia {
            margin: 0;
        }

            #navSide #navSideContent .navSocialMedia .fa {
                text-align: center;
                font-size: 5vw;
            }

            #navSide #navSideContent .navSocialMedia > div, #navSide #navSideContent .navSocialMedia a {
                padding: 0;
                text-align: center;
            }

                #navSide #navSideContent .navSocialMedia > div > form > button {
                    color: white;
                }

    #navSide.collapsing {
        width: 0;
        box-shadow: rgba(0,0,0,0) 0 2px 20px 2px;
    }

    #navSide a:not(#sideBarLogo), #navSide .navCollapse {
        color: inherit;
        font-style: inherit;
        font-weight: 500;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }

    #navSide h1 {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25em;
        text-align: center;
        font-weight: bold;
        margin-top: 0;
        padding-right: 15px;
        padding-left: 15px;
    }

    #navSide ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

        #navSide ul > li {
            position: relative;
            display: block;
        }

    #navSide #sideBarLogo img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 20px;
        width: 80%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #navSide #navProjects {
        background-color: #333333;
        box-shadow: -2px 1px 4px 0;
    }

        #navSide #navProjects a {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }

    #navSide .navCollapse:before {
        font-family: FontAwesome;
        content: "\f054 ";
        display: inline-block;
        transition: transform 0.5s;
        font-size: 0.75em;
        padding: 5px;
    }

    #navSide span.navCollapse[aria-expanded="true"]:before {
        transform: rotate(90deg);
    }

    #navSide .navCollapse:hover {
        text-decoration: underline;
    }

#mainBody {
    padding: 20px 15px;
}

    #mainBody div {
        transition: all linear 0.25s;
    }

.memberBlock img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}

.memberBlock h4 {
    text-align: center;
}

.memberBlock dt {
    margin-top: 5px;
}

.overflowPost {
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

    .overflowPost:before {
        content: '';
        pointer-events: none;
        width: 100%;
        height: 500px;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(rgba(0, 0, 0, 0) 85%, white);
    }

.blogPostContainer {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.blogPost {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin: auto;
    height: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
}

    .blogPost.hiddenPost {
        box-shadow: rgba(255, 51, 51, 0.75) 0 0 15px 2px;
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

        .blogPost.hiddenPost .overflowPost:before {
            background: linear-gradient(rgba(0, 0, 0, 0) 85%, #f2dede);
        }

    .blogPost.scheduledPost {
        box-shadow: rgba(242, 204, 13, 0.75) 0 0 15px 2px;
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc
    }

        .blogPost.scheduledPost .overflowPost:before {
            background: linear-gradient(rgba(0, 0, 0, 0) 85%, #fcf8e3);
        }

    .blogPost.hiddenPost.scheduledPost {
        box-shadow: rgba(249,128,32,0.75) 0 0 15px 2px;
        color: #9A593F;
        background-color: #F7EBE1;
        border-color: #F3DCCF;
    }

        .blogPost.hiddenPost.scheduledPost .overflowPost:before {
            background: linear-gradient(rgba(0, 0, 0, 0) 85%, #f2dede);
        }



    .blogPost > * {
        margin-left: 20px;
        margin-right: 20px;
    }

    .blogPost > a {
        display: inherit;
    }

    .blogPost img {
        margin: 0 auto 10px auto;
        display: block;
        max-width: 100%;
    }

    .blogPost h5 {
        opacity: 0.5;
    }

.nextButton:after {
    font-family: FontAwesome;
    content: "\f054";
    transition: transform 0.5s;
    padding: 5px;
}

.prevButton:before {
    font-family: FontAwesome;
    content: "\f053";
    transition: transform 0.5s;
    padding: 5px;
}

.blogPostFoot {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    background-color: #ffffff;
    box-shadow: -5px -5px 25px 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0;
}

    .blogPostFoot.hiddenPost {
        background-color: #f2dede;
        box-shadow: -5px -5px 25px 1px #f2dede;
    }

    .blogPostFoot.scheduledPost {
        border-color: #faebcc;
        background-color: #fcf8e3;
        box-shadow: -5px -5px 25px 1px #fcf8e3;
    }

    .blogPostFoot h3 {
        display: inline-block;
        padding: 5px 10px;
        font-size: 1.625rem;
    }

        .blogPostFoot h3 a, .blogPostFoot h3 a:hover {
            color: #FF6A13;
            font-weight: 600;
        }




/* Large */
@media (min-width: 1200px) {

    #navSide #navSideContent .navSocialMedia .fa {
        font-size: 2vw;
    }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {

    #navSide #navSideContent .navSocialMedia .fa {
        font-size: 2vw;
    }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
    #navBar {
        display: flex !important;
    }

    #navSide {
        background-color: #333333;
    }
}

/* Special Formatting for Subtext to bootstrap-select dropdowns */
.bootstrap-select .text {
    width: 100%;
    margin-right: 0 !important;
}

.bootstrap-select .text-muted {
    float: right;
    position: relative;
    right: 15px;
}
/* End Special Formatting for Subtext to bootstrap-select dropdowns */


/* Extra-Small */
@media (max-width: 767px) {
    #navBar {
        display: flex !important;
    }

    #navSide {
        background-color: #333333;
    }
}

.carousel {
    box-shadow: black 0 0 2px 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .carousel .carousel-inner {
        height: 500px;
        background-color: #333;
        position: relative;
    }

    .carousel .carousel-item {
        height: 100%;
    }

        .carousel .carousel-item img {
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

            .carousel .carousel-item img.carouselImgBack {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(10px) grayscale(50%) opacity(0.5);
            }

    .carousel .carousel-caption h3, .carousel .carousel-caption h4, .carousel .carousel-caption h5 {
        color: white;
        text-shadow: black 1px 1px 2px, black -1px -1px 2px, black 1px -1px 2px, black -1px 1px 2px;
    }

    .carousel .carousel-indicators li {
        box-shadow: #666666 0 0 1px 1px;
    }

/*ShoppingCart CSS*/
#cartButton {
    margin-right: 8px;
    margin-bottom: 8px;
}

nav {
    padding: 8px;
}

.loginForm {
    margin: 10%;
}

.checkoutForm {
    margin-top: 5%;
}

.orderForm {
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    border-color: #2fa4e7;
}

a.remove {
    text-decoration: none;
}

    a.remove:hover {
        color: blue;
    }

.center_div {
    margin: 0 auto;
    width: 80%;
}

.marginTop {
    margin-top: 5%;
}

.marginTop1 {
    margin-top: 2%;
}

.formPullRightButton {
    margin-right: 10px !important
}
/*END ShoppingCart CSS*/
/*Change Background Colour of Mechandise Dropdown*/
.dropdown-menu {
    background-color: #333;
}

    .dropdown-menu .dropdown-item {
        color: white!important;
    }

    .dropdown-menu a:hover {
        background-color: #FF6A13;
    }

.dropdown-toggle::after {
    content: none;
}

.productSummaryContainer {
    padding: 10px;
}

    .productSummaryContainer img {
        width: auto;
        max-width: 100%;
    }

.productSummary {
    border-radius: 5px;
    box-shadow: black 2px 2px 10px 0px;
    margin: 0px 10px;
    padding: 0px 10px;
}

    .productSummary row {
        padding: 0;
    }

#userResult {
    margin-top: 5px;
    width: 300px;
}

.result {
    border: 2px solid grey;
    max-width: 285px;
    width: auto;
}

    .result:hover {
        background-color: antiquewhite;
    }

.stripe-button-el {
    display: none!important;
}

.btn-group {
    color: white;
}