﻿<li class="dropdown">

  <a asp-controller="Product" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Merchandise <i class="fa fa-shopping-bag" aria-hidden="true">  </i></a>
  <div class="dropdown-menu">
    @foreach (var category in Model)
    {
        <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>
    }
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="">View All Products</a>
      <a class="dropdown-item" asp-controller="SubscriptionObjects" asp-action="Index">Premium Membership</a>
    @if (User.IsInRole("Editor"))
    {
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Product" asp-action="Manage">Manage Products</a>
    }
  </div>
</li>
