﻿@model ProductIndexViewModel

@{
    ViewData["Title"] = "Merchandise";
}


<div id="col1" class="col-12">
  <h2>@Model.CurrentCategory</h2>

  <ul class="pagination  justify-content-center">
    <li class="page-item@((bool)ViewData["PrevPage"]?"":" disabled")">
      <a class="page-link" href="?page=@((int)ViewData["page"]-1)" aria-label="Previous">
        <span aria-hidden="true">&laquo; Prev</span>
      </a>
    </li>
    @for (int i = 1; i <= (int)ViewData["NumPages"]; i++)
    {
        <li class="page-item@((int)ViewData["Page"]==i?" active":"")"><a class="page-link" href="?page=@i">@i</a></li>
    }
    <li class="page-item@((bool)ViewData["NextPage"]?"":" disabled")">
      <a class="page-link" href="?page=@((int)ViewData["page"]+1)" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
  <div class="row">

    @if (Model.Products.Count() < 1)
    {
        <h3>No Products Found for Category '@Model.CurrentCategory'</h3>
    }
    else
    {
      foreach (Product product in Model.Products)
      {
            @Html.Partial("_ProductSummary", product)
      }
    }

  </div>
  <ul class="pagination  justify-content-center">
    <li class="page-item@((bool)ViewData["PrevPage"]?"":" disabled")">
      <a class="page-link" href="?page=@((int)ViewData["page"]-1)" aria-label="Previous">
        <span aria-hidden="true">&laquo; Prev</span>
      </a>
    </li>
    @for (int i = 1; i <= (int)ViewData["NumPages"]; i++)
    {
        <li class="page-item@((int)ViewData["Page"]==i?" active":"")"><a class="page-link" href="?page=@i">@i</a></li>
    }
    <li class="page-item@((bool)ViewData["NextPage"]?"":" disabled")">
      <a class="page-link" href="?page=@((int)ViewData["page"]+1)" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</div>