﻿@model IEnumerable<StudentCouncil.Models.Product>

@{
    ViewData["Title"] = "Product Index";
}

<div id="col1" class="col-12">
  <h2>Index</h2>

  <p>
    <a asp-action="Create">Create New</a>
  </p>


  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
              @Html.DisplayNameFor(model => model.Image)
          </th>
        <th>
          @Html.DisplayNameFor(model => model.InStock)
          </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              @Html.Raw(item.Description)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Image)
              </td>
            <td>
              @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Category.ID)
              </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
              <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
              <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
          </tr>
      }
    </tbody>
  </table>
</div>