﻿@*@model IEnumerable<StudentCouncil.Models.SubscriptionObject>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateExpire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subscribed)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExpire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscribed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


@model StudentCouncil.Models.SubscriptionObject
@inject UserManager<ApplicationUser> userManager

<h1>Set Subscription</h1>

<h3>
    Premium Membership
</h3>
<p>
    Purchase the Premium Membership for only $15 a year and recieve 12% discount on all Merchandise.
</p>

        @using Microsoft.Extensions.Options
        @inject IOptions<StripeSettings> Stripe

        <form action="/SubscriptionObjects/SetSubscription" method="POST">

            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="Fill in the Fields to complete payment."
                    data-amount="1500"
                    data-currency="nzd"
                    data-email="@User.Identity.Name">

            </script>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" style="visibility: visible;">Pay with Card</button>
            </div>
        </form>







