﻿@{
    ViewData["Title"] = "Index";
}

<div id="col1" class="col-sm-12 col-md-12 col-lg-12">

  <h2>Error! Error!</h2>
  <h3>Code: @Model.Error @(Model.Message.Count > 0 ? Model.Message[0] : null)</h3>
  @if (Model.Message.Count > 1)
  {
      <h4>Description:</h4>
    for (int i = 1; i < Model.Message.Count; i++)
    {
          <p>@Model.Message[i]</p>
    }
  }

</div>
